# Force LF endings for all files Git treats as text
* text eol=lf

# Explicitly declare text files
*.java text
*.xml text
*.md text
*.properties text
*.gradle text

# Batch files should always have CRLF line endings
*.bat text eol=crlf

# These files are binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.jar binary
*.apk binary
*.aab binary
*.so binary
*.dex binary
